<!DOCTYPE html>
<html ng-app="ngTodo">
  <head>
    <title>ng Hello World</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap-theme.min.css.map">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css.map"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/sweetStyles.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="ngApp.js"></script>
    <script src="controllers/todosController.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/loginController.js"></script>
    <script src="controllers/registrationController.js"></script>
    <script src="directives/myFooter/myFooter.js"></script>
    <script src="directives/todoRow/todoRow.js"></script>
    <script src="filters/completedFilter.js"></script>
    <script src="services/todoDataService.js"></script>
    <script src="services/userService.js"></script>
    <script src="services/authenticationService.js"></script>

    <!--beautify URI-->
    <base href="/">
  </head>
  <body>
    <nav class="navbar navbar-full navbar-dark bg-primary" ng-include="'views/partials/nav.partial.html'"></nav>
    <div ng-view></div>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="css/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
